Can't do video calls with the Nextcloud app

I can chat, but not make video calls either with users on my server, or by shared link (Temporary Pass). When I make a video call the other user doesn't see it, and it times out after about 5-10 seconds.

### Server
Ubuntu Server 16.04
PHP 7.0.8
MySQL 5.7
Spreed.Me version 0.29.2 ([Nextcloud Snap](https://github.com/nextcloud/spreedme-snap))

### Firewall
<details>

OPNsense 16.7.7
![deepinscreenshot20161031191445](https://cloud.githubusercontent.com/assets/4511254/19866411/4eee8c54-9fa0-11e6-98cf-9730f82df864.png)

192.168.4.201 = Nginx Reverse Proxy
192.168.4.111 = Nextcloud + SpreedMe

I'm not sure, but I think UDP is enabled.
</details>

### Client
Nextcloud app version 0.3.3
Chrome for Debian 64-bit
Also tried on Android 7.0

### Logs
#### Debug log
<details>

``` 
JQMIGRATE: Migrate is installed, version 1.4.0
main.js:47 Launching ...
main.js:47 Web fonts loaded.
app.js:253 Selected language: en
main.js:47 Bootstrapping ...
app.js:242 App runtime id: uusra6u
app.js:242 Service version: unreleased.1477929444
app.js:242 Ws URL: wss://cloud.techandme.se/webrtc/ws
app.js:242 Secure Contextual Escaping: true
app.js:253 Initializing ...
PostMessageAPI.js:50 PostMessageAPI: POSTING FROM Location TO https://cloud.techandme.se Object
app.js:244 Screensharing support true autoinstall
app.js:242 Initial room path set, continuing to connect ...
app.js:242 Ready to connect ...
app.js:246 Checking for media access ...
app.js:246 Continue with connect after media check ...
app.js:253 Initializing complete.
app.js:242 Connecting ...
PostMessageAPI.js:50 PostMessageAPI: Got event MessageEvent
PostMessageAPI.js:50 PostMessageAPI: Got event MessageEvent
PostMessageAPI.js:50 PostMessageAPI: Got event MessageEvent
app.js:243 Created new video layout renderer invisible l
app.js:240 Connector on connection open.
app.js:244 TURN servers selected:  Array[0] 0 Array[0]
owncloud.js:86 OC: selfReceived Object
owncloud.js:86 OC: Retrieved nonce - authenticating as user: daniel@en0ch.se
app.js:248 Session is now authenticated: daniel@en0ch.se YncmAmpKVIAANmgB2Q8AsadwnK/l1V6ElMZxYc0m5mM=
app.js:244 TURN servers selected:  Array[0] 0 Array[0]
app.js:244 TURN servers selected:  Array[0] 0 Array[0]
owncloud.js:86 OC: selfReceived Object
app.js:244 TURN servers selected:  Array[0] 0 Array[0]
app.js:244 Joining room Array[1]
app.js:244 Joined room Array[1]
app.js:241 Joined room Object JSbkBkqimYLc7GhAvkpGiECBpf_0RTmCRVsV3Izwklh8PT1RTzlxUDVOSkJRcFFncHJMUVlhWWhqYlhoaHNOVWhOUjFiMmR2bGVISFYtUVBJRFBSeGFkaW85MFVJdDRnV0VrMWI2UTB6fDU0MTgzOTc3NDE=
PostMessageAPI.js:50 PostMessageAPI: POSTING FROM Location TO https://cloud.techandme.se Object
app.js:246 Create new chatroom Array[1]

#######

JQMIGRATE: Migrate is installed, version 1.4.0
main.js:47 Launching ...
main.js:47 Web fonts loaded.
app.js:253 Selected language: en
main.js:47 Bootstrapping ...
app.js:242 App runtime id: lfx24tw
app.js:242 Service version: unreleased.1477929444
app.js:242 Ws URL: wss://cloud.techandme.se/webrtc/ws
app.js:242 Secure Contextual Escaping: true
app.js:253 Initializing ...
PostMessageAPI.js:50 PostMessageAPI: POSTING FROM Location {hash: "", search: "?debug=1", pathname: "/webrtc/", port: "", hostname: "cloud.techandme.se"…} TO https://cloud.techandme.se Object {type: "init"}
app.js:244 Screensharing support true autoinstall
app.js:242 Initial room path set, continuing to connect ...
app.js:242 Ready to connect ...
app.js:246 Checking for media access ...
app.js:246 Continue with connect after media check ...
app.js:253 Initializing complete.
app.js:242 Connecting ...
PostMessageAPI.js:50 PostMessageAPI: Got event MessageEvent {isTrusted: true, data: Object, origin: "https://cloud.techandme.se", lastEventId: "", source: Window…}
PostMessageAPI.js:50 PostMessageAPI: Got event MessageEvent {isTrusted: true, data: Object, origin: "https://cloud.techandme.se", lastEventId: "", source: Window…}
PostMessageAPI.js:50 PostMessageAPI: Got event MessageEvent {isTrusted: true, data: Object, origin: "https://cloud.techandme.se", lastEventId: "", source: Window…}
app.js:243 Created new video layout renderer invisible l {}
app.js:240 Connector on connection open.
app.js:244 TURN servers selected:  [] 0 []
owncloud.js:86 OC: selfReceived Object {Type: "Self", Id: "a3_XpLYuJ592XxJ_grcFjXDFj5FAte5hojnPQ5zuPQZ8PT1nWj…iMlhtTXk0MklwdTBTRXhjLVluQzI0Z2hEfDE5MzgzOTc3NDE=", Sid: "a3plTVV4tLlOdGEbR3wcwuOZO0WexeDX", Userid: "", Suserid: ""…}
owncloud.js:86 OC: Retrieved nonce - authenticating as user: daniel@en0ch.se
app.js:248 Session is now authenticated: daniel@en0ch.se YncmAmpKVIAANmgB2Q8AsadwnK/l1V6ElMZxYc0m5mM=
app.js:244 TURN servers selected:  [] 0 []
app.js:244 TURN servers selected:  [] 0 []
owncloud.js:86 OC: selfReceived Object {Type: "Self", Id: "a3_XpLYuJ592XxJ_grcFjXDFj5FAte5hojnPQ5zuPQZ8PT1nWj…iMlhtTXk0MklwdTBTRXhjLVluQzI0Z2hEfDE5MzgzOTc3NDE=", Sid: "a3plTVV4tLlOdGEbR3wcwuOZO0WexeDX", Userid: "daniel@en0ch.se", Suserid: "YncmAmpKVIAANmgB2Q8AsadwnK/l1V6ElMZxYc0m5mM="…}
app.js:244 TURN servers selected:  [] 0 []
app.js:244 Joining room [""]
app.js:244 Joined room [""]
app.js:241 Joined room Object {Type: "Room", Name: "", Credentials: null} a3_XpLYuJ592XxJ_grcFjXDFj5FAte5hojnPQ5zuPQZ8PT1nWjJZRW5NVDA5Q2M4b2QxRG5EX3dBdjNBMXBHMW9Jel9sVDF1TWJSVVRqZ3hiMlhtTXk0MklwdTBTRXhjLVluQzI0Z2hEfDE5MzgzOTc3NDE=
PostMessageAPI.js:50 PostMessageAPI: POSTING FROM Location {hash: "", search: "?debug=1", pathname: "/webrtc/", port: "", hostname: "cloud.techandme.se"…} TO https://cloud.techandme.se Object {type: "roomChanged", roomChanged: ""}
app.js:246 Create new chatroom [""]
```

</details>

### Vhosts
https://github.com/strukturag/nextcloud-spreedme/issues/56

------

If you need more info, just ask!


@oparoz Do you have any ideas?


As the WebRTC traffic usually goes from peer to peer (and not through your server), you need to make sure that both your and your partner's home/whatever firewall / NAT do not block WebRTC peer connections. Else you need to set up / use a STUN or TURN server.

First try to use STUN: Simply uncomment this line (or add it to your server.conf if it’s not already in there): https://github.com/strukturag/spreed-webrtc/blob/e483679f0533bbcab063c7721df28c96fe8b86ce/server.conf.in#L47 and reload spreed-webrtc.
If connections to your partner still time out, you need to set up a TURN server: https://github.com/spreedbox/spreedbox/wiki/Use-TURN-server


@leonklingele 

Thanks!

Does the WebRTC traffic use a special port, or are there anything in the firewall that I need to open?


If you don’t use TURN (which connects to a fixed port), you will end up using random UDP ports in the ~10k-60k range. So no, there’s no way to predict the port number.


Actually TURN only uses a fixed port to request the allocation, the actual TURN session uses a port between 49152 and 65535 (default range according to RFC5766 section 6.2).


I guess I will have to open NAT to UDP on my Nextcloud Server then. Thanks for your support.


Ok, think I found the error... It's my Hurricane tunnel that blocks UDP traffic (I think) as I just tested between two laptops at work and it worked. Will do some further testing.


Just FYI, the snap already includes a TUN server, so that would rule out that problem.


Great news! This is not a bug ---> Close


Hmm, but still - found this in my spreed log:

`server 2016/11/04 17:16:51.864426 Error while reading 37 websocket: close 1001 (going away)`


Also `server 2016/11/02 19:15:26.303664 Error while reading 24 websocket: close 1006 (abnormal closure): unexpected EOF`


and btw @oparoz this is my config:

```
[http]
listen = 127.0.0.1:8080
basepath = /webrtc
root = www

[https]

[app]
stunuris = stun:stun.spreed.me:443
sessionsecret = *
encryptionsecret = *
authorizeroomjoin = true
servertoken = *
serverrealm = local
extra = /usr/share/spreed-webrtc-server/extra
plugin = extra/static/owncloud.js

[modules]

[log]
logfile = spreed-webrtc-server.log

[users]
enabled = true
mode = sharedsecret
sharedsecret_secret = *
```
- is intentional as it contains sensetive information. Now, where is the TUN? Is it stunuris = `stun:stun.spreed.me:443`

I've opened both TCP/UDP in NAT settings for my Nginx Reverse Proxy...


Someone ran into the same error message using spreed-webrtc, however no solution was found: https://github.com/strukturag/nextcloud-spreedme/issues/16
Maybe increasing the `proxy_read_timeout`/`timeout` helps in your case.


@enoch85 
Here is the relevant line for a TURN (not tun) server 

> ; TURN server URIs in format host:port?transport=udp|tcp. You can provide
> ; multiple seperated by space. If you do not have at least one TURN server then
> ; some users will not be able to use the server as the peer to peer connection
> ; cannot be established without a TURN server due to firewall reasons. An open
> ; source TURN server which is fully supported can be found at
> ; https://code.google.com/p/rfc5766-turn-server/.

`;turnURIs = turn:turnserver:port?transport=udp`


The STUN server is correct. I need to add something to the snap documentation about that as that means some information is sent to Struktur.

Regarding the logs, most of these are perfectly normal and happen when someones just closes the browser tab or switches to another one. I wouldn't lose sleep over it.


@oparoz Could you please join me on IRC? I really want to solve this.


@leonklingele It works when two computers are in the same network (no matter of they are outside the servers network or not) but as soon as I try to connect to someone outside the LAN (of any network tried both work and home) it get's timed out. 

After futrher investigation it seems like my firewall is blocking the traffic: 
(ask me for the link)

VMNETWORK is 192.168.4.1/24 which my Nextcloud and Spreed are on.


Ok, with some help from @oparoz I managed to open all UDP ports with a port forward so now the traffic isn't blocked anymore, at least not from WAN to VMNETWORK. But it still doesn't work.

I did some tests online and it says that I have WebRTC on my WAN IP.

I'm stuck...


Just tried to install it on a DO VPS, and it works - exact same method I used before. So, it's something with my Nginx proxy, or firewall that isn't right. 

Can someone please help me here?

Could I for example install spreedme on Nginx and proxy all traffic internally to the Nginx IP instead?


**Forget about my last post**, it doesn't work still. So there isn't something wrong with my config. 

I just tried from a mobile phone, which is outside of my network, and it doesn't work STILL. 


I've created a test account on the VPS so that you can try for yourself: https://spreedme.techandme.se

USER: spreedme
PASS: TestingACCOUNT#


Just tried with 2 different browsers from the same laptop and it worked.


@oparoz Did you do your tests locally? Because locally it works here as well. It's when I'm trying to chat with someone outside the LAN that it fails.


Daniel for reference I worked on this issue with someone on NC help forum.
He made a post about it.

https://help.nextcloud.com/t/complete-nc-installation-on-debian-with-spreed-me-and-turn-step-by-step/2436

Op zo 6 nov. 2016 14:10 schreef Daniel Hansson notifications@github.com:

> @oparoz https://github.com/oparoz Did you do your tests locally?
> Because locally it works here as well.
> 
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> https://github.com/strukturag/nextcloud-spreedme/issues/57#issuecomment-258679943,
> or mute the thread
> https://github.com/notifications/unsubscribe-auth/AM4oQLBZgTdrOOIdt2dQFB6_-KQsx5Sjks5q7dHRgaJpZM4KlbXn
> .
> 
> ## 

Met vriendelijke groet,

E. Holm


@enoch85 I used your DO VM


@oparoz I understood that much at least :) But what I'm wondering is if you used two computers in the same network while you did the test? Because as long as the two nodes are in the same network there are no issues, but from one node to antoher over WAN, there's the issue...


Fair point since video transmission happens using P2P...


Ok, so I guess the question becomes, how do I get P2P to work worldwide? Do I need to install something additional to the included STUN server that's included in the spreedme-snap?


Seems like I need coturn. :/

@enoch85 pls share coturn installation method...
Mine is in here https://github.com/strukturag/spreed-webrtc/issues/442
I have issues with need restart snap

@enoch85 Yes I would also like to know if you got this working and what your setup was? I’m having the same issue while running a tunnel to the Nextcloud server. I know it will work, because Nextcloud Talk functions normally from LAN to Outside my network, and just as you mentioned Spreed.ME starts up in chat but voice/video and file transfer do not function.

@Bellusterra I actually think I will remove Spreed.ME from the upcoming versions of the setup script as Talk is working and there is no need for Spreed.ME anymore. 

Talk is the way to go and is included in the latest versions of the VM, fully configured and automated installation.

@enoch85 I did find the VM script you are referring to and thought was written by you thank you.. I do think I just figured it out just the adding of the `stunURIs = stun:stun.nextcloud.com:443` Below the [app] section of /etc/spreed/webrtc.conf file. I do like the Nextcloud Talk and that it all is setup without any extra effort, Thank you, but the Spreed.ME software team built in a few extra functions that are really nice that are not integrated with the Talk App yet such as the file upload right in the window and a host of other things the uploading for presentation that is really useful too granted you can do screen sharing but it’s  just not the same. I imagine all of this will be integrated into the Nextcloud Talk app Eventually but not there yet.